@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
  overflow-x: hidden;
}
.container {
  background-image: url(/Images/image2.png);
  background-repeat: no-repeat;
  background-size: 1200px;
 
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}
p{
  color: wheat;
}
form{
  margin: 0 auto;
  width: 700px;
  float: none;
  display: block;
  
}
