@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
body {
  overflow-x: hidden;
}
.container {
  background-image: url('https://perisoduol618.github.io/Akan-Names/Images/image13.png');
  background-repeat: no-repeat;
  background-size: 2000px;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}
p{
  color:whitesmoke;
}
form{
  margin: 0 auto;
  width: 700px;
  float: none;
  display: block;
  
}
.get{
  font-family: 'Caveat', cursive;
  font-size: 100px;
}
