@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
body {
  overflow-x: hidden;
}
.container {
  background-image: url(../Images/pexels-cats-coming-2035735.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 90px;
  text-align: center;
  font-family:  'Dancing Script', cursive;
  color: pink;
}
p{
  color: black;
}
form{
  margin: 0 auto;
  width: 700px;
  float: none;
  display: block;
  
}
.get{
  font-family: 'Caveat', cursive;
  font-size: 100px;
  color: pink;
}
h2{
  font-family:  'Dancing Script', cursive;
  color: pink;
}
.form{
  background-color: black;
}
